<!-- Bootstrap 5 JS -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc4s9bIOgUxi8T/jzmF6KTB54Y0aFyKWbVQPCqh9VBuL"
  crossorigin="anonymous"
></script>
<footer class="text-center mt-5 py-3 bg-dark text-white">
  <p class="mb-0">&copy; 2026 Ifra's Blog. All rights reserved.</p>
</footer>
</body>
</html>
